<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-12551438-14"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-12551438-14");
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Pelajaran Hayat Alkitab Bersama Witness Lee, Radio Pelajaran Hayat
      Yasperin
    </title>
    <link
      href="https://fonts.googleapis.com/css?family=Cinzel|Droid+Serif:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="static/css/foundation.min.css" />
    <link rel="stylesheet" href="static/css/app.css" />
    <script async src="static/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="logo">
      <div class="row collapse">
        <div class="small-12 columns">
          <a href="/"
            ><img
              src="static/img/logo-only.jpg"
              alt="Living Stream Ministry logo"
              class="lsm-logo"
          /></a>
          <h1>Yasperin<br /><span>Radio Pelajaran Hayat</span></h1>
        </div>
      </div>
    </div>

    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"></li>
          <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li>
              <a href="/"><i class="fa fa-home"></i></a>
            </li>
            <li><a href="programs">Program</a></li>
            <li>
              <a href="printed-life-studies.html">Pelajaran Hayat</a>
            </li>
            <li><a href="contact-living-stream-radio.html">Hubungi Kami</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="life-studies">
      <div class="row">
        <div class="small-12 columns">
          <h1>
            Pelajaran Hayat Alkitab<br />
            <span>bersama Witness Lee</span>
          </h1>
          <p>
            Siaran Radio 30 menit<br />Disusun dari cuplikan ministri Witness
            Lee
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 large-4 columns">
        <a href="programs" class="highlight">
          <div>
            <img src="static/img/headphones2.png" alt="Listen" /><br />
            Dengarkan Program
          </div>
        </a>
      </div>
      <div class="small-12 medium-6 large-4 columns">
        <a href="printed-life-studies.html" class="highlight">
          <div>
            <img src="static/img/life-study-icon.png" alt="Read" /><br />
            Baca Pelajaran Hayat
          </div>
        </a>
      </div>
      <div class="small-12 large-4 columns">
        <a href="todays-broadcast.html" class="highlight">
          <div>
            <img src="static/img/play.png" alt="Today's Broadcast" /><br />
            Dapatkan Siaran Hari Ini
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <hr />
        <div class="small-12 medium-6 columns">
          <h3>Tentang <em>Pelajaran Hayat Alkitab bersama Witness Lee</em></h3>
          <p>
            <em>Pelajaran Hayat Alkitab bersama Witness Lee</em> is a 30-minute
            radio broadcast composed of excerpts from Witness Lee's spoken
            ministry that focuses on the enjoyment of the divine life as
            revealed in the Scriptures. The ministry portions are followed by a
            discussion of the portion presented, including questions and
            answers.
          </p>
          <p>
            <a href="programs">Radio broadcasts</a> of
            <em>Life-study of the Bible with Witness Lee</em> began in the
            United States in September 1996. It is now heard in three languages
            on more than <a href="rad_sched.html">100 stations worldwide</a>.
          </p>
        </div>
        <div class="small-12 medium-6 columns">
          <h3>Watchman Nee dan Witness Lee</h3>
          <p>
            The ministry of
            <a href="http://www.watchmannee.org">Watchman Nee</a> has been
            nourishing and edifying seeking believers throughout the earth for
            over 70 years. In 1962,
            <a href="http://www.witnesslee.org">Witness Lee</a>, a close
            co-worker of Watchman Nee in China brought this ministry to the
            United States, where he continued to minister the riches of God's
            Word until he went to be with the Lord in 1997.
          </p>
        </div>
      </div>
    </div>

    <div class="pre-footer">
      <div class="row">
        <div class="small-12 columns">
          <ul class="side-nav">
            <li>
              <a href="todays-broadcast.html"
                ><i class="fa fa-fw fa-play-circle"></i> Today's Broadcast</a
              >
            </li>
            <li>
              <a href="links.html"
                ><i class="fa fa-fw fa-link"></i> Other LSM Sites</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="small-12 medium-8 columns">
          <p>
            &copy;
            <script type="text/javascript">
              var d = new Date();
              var curr_date = d.getDate();
              var curr_month = d.getDate();
              var curr_year = d.getFullYear();
              document.write(curr_year);
            </script>
            <a href="http://www.churchinbandung.com"
              >Church in Bandung <i class="fa fa-external-link"></i></a
            >. All rights reserved.
          </p>
        </div>
        <div class="small-12 medium-4 columns">
          <ul class="inline-list right">
            <li>
              <a href="http://www.lsm.org/copyright-policy.html"
                >Copyright Policy <i class="fa fa-external-link"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a href="#" class="back-to-top">Back to Top</a>
    <script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/foundation.min.js"></script>
    <script>
      function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split("=");
          if (pair[0] == variable) {
            return pair[1];
          }
        }
        return false;
      }

      if (window.location.search) {
        var showModal = getQueryVariable("showModal");
        if (showModal == "yes") {
          $("#todayModal").foundation("reveal", "open");
        }
      }
    </script>
    <script>
      $("body").prepend('<a href="#" class="back-to-top">Back to Top</a>');
      var amountScrolled = 300;
      $(window).scroll(function () {
        if ($(window).scrollTop() > amountScrolled) {
          $("a.back-to-top").fadeIn("slow");
        } else {
          $("a.back-to-top").fadeOut("slow");
        }
      });
      $("a.back-to-top").click(function () {
        $("body, html").animate({ scrollTop: 0 }, 700);
        return false;
      });
      $(document).foundation();
    </script>
  </body>
</html>
